<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mensaje de confirmacion creacion evento, <%= @user.name %></h1>
    <p>
      Usted ha creado un evento, con el siguiente contenido: <br>
      Nombre: <%= @event.name %> <br>
      Localidad: <%= @event.borough %> <br>
      Direccion: <%= @event.address %> <br>
      Fecha: <%= @event.date_of_event %> <br>
      Descripcion: <%= @event.description %> <br>
      Costo: <%= @event.cost %> <br>
      Publico: <%= @event.type_of_public %> <br>
    </p>
    <p>De nada</p>
  </body>
</html>